@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&family=Roboto:ital,wght@1,100&display=swap');

.fonts{
font-family: 'Roboto', sans-serif;
color: green;
}

.title{
 font-family: 'Oxygen', sans-serif;
 color: red;
}